@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    color:white;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;  
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}
#menu{
    background-color:black;
    display: flex;
    justify-content: space-between;
    padding: 20px
}
.btn{
    background-color: #6d00c7;
    border-radius: 10px;
    border-style: none;
    padding: 20px 80px;
    text-align: center;
    font-size: 16px;
}